/* Home */
header {
	min-height: 50vh;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55) 70%, rgba(133, 0, 126, 0.493) 99%),
	url("../img/Splash.avif") no-repeat center center;
	background-size: cover;
	
}

.playercount {
	display: inline-block;
	background: rgba(0,0,0,0.4);
	padding: 3px;
	font-size: 0.7em;
	color: white;
	text-align: center;
}

.serveraddress { 
	display: inline-block;
	background: none;
	border: none;
	padding: 3px;
	font-size: 1em;
	font-family: Lato;
	color: cyan;
	text-align: center;
}

.serveraddress:hover {
	color: #008080;
	cursor: pointer;
}

.playercount span {
	color: cyan;
}

/* Main Content */

.img {
	transition: all 0.4s ease;
	padding-bottom: 10px;
}

.img:hover {
	transform: scale(1.05);
}

.about-text {
	padding-bottom: 30px;
	padding-top: 10px;
}

.gradient {
	margin-top: 20px;
	color: black;
	text-align: center;
	padding: 30px;
	background-size: cover;
	background: rgba(133, 0, 126, 1) fixed;
}

.flex-container {
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	color: aliceblue;
}

.split,
.vote {
	flex: 1 0 auto;
}

.vote-btn {
	background-color: #ad7f29;
	color: aliceblue;
	text-decoration: none;
	padding: 18px 30px;
	border: 2px solid #121212;
	border-radius: 10%;
	font-size: large;
	font-weight: bold;
}

.vote-btn:hover {
	background-color: #8a6520;
	color: aliceblue;
}

.vote-container {
	display: flex;
	flex-wrap: wrap;
	margin: 25px auto 0 auto;
	max-width: 1100px;
	justify-content: space-around;
	border-top: 1px solid;
}

.vote-section {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	color: aliceblue;
}

.split,
.vote {
	padding: 5px;
	margin: 10px;
}

.split {
	flex-basis: 250px;
}

.vote {
	flex-basis: 210px;
}

/* Media Queries */

@media(min-width: 1000px) {
	.item:not(:first-child) {
		margin-left: 90px;
	}
}

@media(min-width: 700px) {
	.main-content {
		width: 40%;
		text-align: center;
		margin: 0 auto;
	}
	.playercount {
		font-size: 1.2em;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.vote {
		min-width: 50%;
	}
}
