/* Home */
header {
	min-height: 50vh;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55) 70%, rgba(133, 0, 126, 0.493) 99%),
	url("../img/court.avif") no-repeat center center;
	background-size: cover;
	user-select: none
}
/* Main Content */


.center {
	
	color: aliceblue;
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
}

/* Media Queries */

@media(min-width: 1000px) {
	.item:not(:first-child) {
		margin-left: 90px;
	}
}

@media(min-width: 700px) {
	.main-content {
		width: 40%;
		text-align: center;
		margin: 0 auto;
	}
	.playercount {
		font-size: 1.2em;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.vote {
		min-width: 50%;
	}
}
