/* Global */
@font-face {
	font-family: "yukari";
	src: url("../fonts/yukari-webfont.woff");
  } 
body {
	font-family: Helvetica;
	margin: 0;
	font-family: Lato;
	color: #222;
	box-sizing: border-box;
	background-color: #121212;
}

p {
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.5em;
}

h1 {
	font-size: 1.8em;
	font-family: "yukari";
	color: aliceblue;
}

h2 {
	font-size: 2em;
}

h1,
h2 {
	color: aliceblue
}

a {
	color: rgba(133, 0, 126, 0.493);
}

/* Header */

header {
	background: linear-gradient(rgba(66,134,244,0.75), rgba(112,216,255,0.75)) fixed;;
	width: 100%;
	text-align: center;
	border-bottom: 0px solid #4286f4;
	box-sizing: border-box;
}


.nav a {
	background-color: #ad7f29;
	color: aliceblue;
	text-decoration: none;
	padding: 4px;
	border-radius: 10%;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-right: 20px;
	color: aliceblue;
}

header h1 {
	color: rgba(133, 0, 126, 1);
	font-size: 5em;
	text-shadow: 2px 0 aliceblue, -2px 0 aliceblue, 0 2px aliceblue, 0 -2px aliceblue,
	1px 1px aliceblue, -1px -1px aliceblue, 1px -1px aliceblue, -1px 1px aliceblue;
	padding-top: 50px;
	user-select: none
}

.nav {
	list-style: none;
	display: flex;
	color:#121212;
}

.nav:not(:first-child) li {
	margin-left: 20px;
}

.nav li {
	text-transform: uppercase;
	font-weight: bold;
}

.logo {
	transition-duration: 0.5s;
}

.logo img {
	width: 200px;
	margin-left: 10px;
	margin-top: 10px;
}

.logo:hover {
	transform: scale(1.05);
}

.nav {
	padding: 18px 0 20px 0;
}

/* Main Content */

.main-content {
	width: 95%;
	color: aliceblue;
	text-align: center;
	margin: 0 auto;
}

/* Footer */

footer {
	background-color: #222;
	color: white;
	padding: 30px 0;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

footer p {
	padding: 0 0 0 30px;
}

/* Media Queries */
@media(min-width: 700px) {
	h1 {
		font-size: 3.5em;
	}
	.header {
		justify-content: space-between;
		padding-right: none;
	}
	.picture-container {
		padding: 0 10px 0 0;
	}
	.nav a {
		padding: 8px;
	}
}
